---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

This page lists my research manuscripts, preprints, and related scholarly work.

You can also find my articles on [Google Scholar](https://scholar.google.com/citations?user=gY_YoRMAAAAJ&hl=en).

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}

    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
## {{ category[1].title }}

<hr />
        {% assign title_shown = true %}
      {% endunless %}

      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
